{% extends "base.html" %}

{% block python %}

<div class="container-fluid bg-secondary my-5">
    <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="/static/img/java 1.jpg" alt="">
                </div>
                <div class="col-lg-7 py-5 py-lg-0">
                    <h2>History Of Java</h2>
                    <p align="justify">Java is a widely-used, object-oriented programming language that was first developed by James Gosling and Mike Sheridan at Sun Microsystems in 1991, and officially released in 1995. Known for its platform independence, Java operates on the principle of "Write Once, Run Anywhere" (WORA). This is made possible by the Java Virtual Machine (JVM), which allows Java applications to be executed on any device or operating system that has a JVM installed. The code is compiled into bytecode, which can then be interpreted by the JVM, ensuring that Java programs are highly portable across platforms.</p>
                    
                </div>
            </div>
    </div>
</div>

<div class="container-fluid bg-secondary my-5">
    <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 py-5 py-lg-0">
                    <h2>About Java</h2>
                    <p> Java's syntax is heavily influenced by C, making it familiar to developers with experience in languages like C and C++. It is a statically-typed language, which means variables must be explicitly declared with their data types, offering type safety and reducing runtime errors. One of the key features of Java is its object-oriented nature, which promotes code reusability, modularity, and maintainability by organizing code into classes and objects.

                       </p>
                </div>
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="/static/img/java 2.jpg" alt="">
                </div>
            </div>
    </div>
</div>

<div class="container-fluid bg-secondary my-5">
    <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="/static/img/java 4.jpg" alt="">
                </div>
                <div class="col-lg-7 py-5 py-lg-0">
                    <h2> Java</h2>
                    <p align="justify">Java has been a dominant force in enterprise-level applications, web development, and mobile applications, especially for Android development, where it has historically been the primary language. With its strong security features, including bytecode verification and runtime security checks, Java is a popular choice for developing secure applications. Additionally, Java benefits from a large, active community, ensuring continuous improvements, updates, and a wealth of open-source libraries and frameworks, such as Spring, Hibernate, and Apache Struts, that extend its capabilities further.</p>
                    
                </div>
            </div>
    </div>
</div>


{% endblock %}