{% extends "base.html" %}

{% block learnabout %}

<div class="container-fluid bg-secondary my-5">
    <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="/static/img/classes img 2.jpg" alt="">
                </div>
                <div class="col-lg-7 py-5 py-lg-0">
                    <h1 class="mb-4">Welcome To IT classes</h1>
                    <p align="justify">Programming language tuition classes are structured sessions designed to teach students coding and software development skills. These classes cater to beginners, intermediate learners, and advanced programmers, offering personalized guidance, hands-on practice, and conceptual understanding.</p>
                    </div>
                </div>
            </div>
    </div>

    
    

{% endblock %}