{% extends "base.html" %}

{% block learn %}


<div class="container-fluid bg-secondary my-5">
    <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="/static/img/Homeschooling.jpg" alt="">
                </div>
                <div class="col-lg-7 py-5 py-lg-0">
                    <h2>Best Education From Your Home</h2>
                    <p align="justify">The idea of getting the best education from your home has become more accessible and effective than ever before, thanks to advancements in technology, resources, and platforms. Here are some of the best strategies and tools to achieve a high-quality education from home:</p>
                </div>
            </div>
    </div>
</div>

<div class="container-fluid bg-secondary my-5">
    <div class="container">
            <div class="row align-items-center">
                  <div class="col-lg-7 py-5 py-lg-0">
                    <h2 class="mb-4">Best Online Learning Platform</h2>
                    <p align="justify">The best online learning platform depends on your specific goals, such as professional development, academic study, or personal growth. Below is a categorized list of the top platforms based on their focus areas:</p>
                 </div>
                    <div class="col-lg-5">
                        <img class="img-fluid w-100" src="/static/img/Learning.webp" alt="">
                    </div>
             </div>
    </div>
</div>

<div class="container-fluid bg-secondary my-5">
    <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="/static/img/Homeschooling2.jpg" alt="">
                </div>
                <div class="col-lg-7 py-5 py-lg-0">
                    <h2 class="mb-4">New Way To Learn From Home</h2>
                    <p align="justify">Learning from home has evolved rapidly, and innovative approaches are making it more engaging, effective, and personalized. Here are new and exciting ways to learn from home that go beyond traditional online classes:</p>
                </div>
            </div>
    </div>
</div>



{% endblock %}