{% extends "base.html" %}

{% block python %}

<div class="container-fluid bg-secondary my-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid w-100" src="/static/img/php 7.jpeg" alt="">
            </div>
            <div class="col-lg-7 py-5 py-lg-0">
                <h2>About Php</h2>
                <p align="justify">PHP (Hypertext Preprocessor) is a widely-used, open-source, general-purpose scripting
                    language that is especially suited for web development. It is used to create dynamic and interactive
                    websites, and it can be embedded within HTML code. </p>
                <p align="justify">PHP is a server-side scripting language, which means that it runs on the web server
                    and generates dynamic web pages. It is embedded within HTML and can interact with databases to
                    create complex applications. Originally created by Rasmus Lerdorf in 1993, it is now one of the most
                    popular languages for web development. </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-secondary my-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 py-5 py-lg-0">
                <h2>Data Type In Php</h2>
                <p align="justify"> Integer: Whole numbers.
                <p align="justify">Float: Decimal numbers.
                <p align="justify"> String: Sequences of characters.
                <p align="justify"> Boolean: true or false.
                <p align="justify">Array: A collection of values, can be indexed or associative.
                <p align="justify">Object: Instances of user-defined classes.
                </p>
            </div>
            <div class="col-lg-5">
                <img class="img-fluid w-100" src="/static/img/php 2.jpeg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-secondary my-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid w-100" src="/static/img/php 6.jpg" alt="">
            </div>
            <div class="col-lg-7 py-5 py-lg-0">
                <h2>PHP</h2>
                <p align="justify">PHP is a versatile and powerful language for server-side web development. With its vast ecosystem, including frameworks, libraries, and tools, PHP remains a popular choice for building dynamic, data-driven websites and applications. Whether you are building small scripts or complex web applications, PHP provides the features and flexibility required for a wide range of projects.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}