{% extends "base.html" %}

{% block python %}

<div class="container-fluid bg-secondary my-5">
    <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="/static/img/python.avif" alt="">
                </div>
                <div class="col-lg-7 py-5 py-lg-0">
                    <h2>INTRODUCTION OF PYTHON</h2>
                    <p align="justify">Python is a high-level, interpreted, and general-purpose programming language that emphasizes code readability and simplicity. Created by Guido van Rossum and first released in 1991, Python has grown to become one of the most popular programming languages worldwide, thanks to its versatility and ease of use.</p>
                    <p align="justify">Creator: Guido van Rossum.</br>
                        First Release: February 1991.</p>
                </div>
            </div>
    </div>
</div>

<div class="container-fluid bg-secondary my-5">
    <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 py-5 py-lg-0">
                    <h2>PYTHON VERSION</h2>
                    <p> 

                        1. Python 2.x (Deprecated as of 2020)</br>  
                        2. Python 3.x (Current)</br>  
                           - Python 3.0</br>  
                           - Python 3.4</br>  
                           - Python 3.5</br>  
                           - Python 3.6</br>  
                           - Python 3.7</br>  
                           - Python 3.8</br>  
                           - Python 3.9</br>  
                           - Python 3.10</br>  
                           - Python 3.11</br>  
                           - Python 3.12</p>
                </div>
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="/static/img/python 4.jpg" alt="">
                </div>
            </div>
    </div>
</div>

<div class="container-fluid bg-secondary my-5">
    <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="/static/img/python 5.jpg" alt="">
                </div>
                <div class="col-lg-7 py-5 py-lg-0">
                    <h2>ABOUT PYTHON</h2>
                    <p align="justify">One of Python’s most significant advantages is its large ecosystem of third-party libraries and frameworks, such as Django for web development, NumPy and pandas for data science, TensorFlow for machine learning, and Pygame for game development. This makes Python particularly popular in fields like web development, scientific computing, data analysis, artificial intelligence, and automation. Python's cross-platform compatibility ensures that it can run on various operating systems, including Windows, macOS, and Linux, making it highly versatile.</p>
                    
                </div>
            </div>
    </div>
</div>





{% endblock %}